
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color: rgb(109, 108, 108);
}

.selected {
    -webkit-box-shadow:0px 0px 58px 11px rgba(255,227,46,0.9);
    -moz-box-shadow: 0px 0px 58px 11px rgba(255,227,46,0.9);
    box-shadow: 0px 0px 58px 11px rgba(255,227,46,0.9);
}

.trafficLight {
    background: rgb(28,27,43);
    background: radial-gradient(circle, rgba(28,27,43,1) 0%, rgba(52,52,66,1) 56%, rgba(27,27,27,1) 100%);
    width: 75px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-radius: 10px;
    margin: auto;
    margin-top: 45px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .trafficLight button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }

  .red {
    background-color: rgb(159, 20, 20);
  }
  .yellow {
    background-color: rgb(229, 196, 8);
  }
  .green {
    background-color: green;
  }